<nav class="navbar navbar-fixed-top wd-blue-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/profile"
               class="navbar-link wd-text-white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <a class="wd-text-white navbar-brand wd-text-bold">
            Websites
        </a>
        <a href="#!/website/new" class="navbar-link navbar-text pull-right wd-text-white wd-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container">

    <div class="list-group">
        <li ng-repeat="website in model.websites"
            class="list-group-item wd-list-item-borderless">
            <a href="#!/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <a href="#!/website/{{website._id}}/page">
                {{website.name}}
            </a>
        </li>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom wd-blue-navbar">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right wd-text-white wd-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
