<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="#">-->
<!--Header-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-fixed-top wd-blue-navbar">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <p class="navbar-text pull-left">
                <a href="#!/website" class="navbar-link wd-text-gray">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="wd-text-gray navbar-brand wd-text-bold">
                Websites
            </a>
            <a href="#!/website/new"
               class="navbar-link navbar-text pull-right wd-text-gray wd-icon-padding">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-xs-8">
            <p class="navbar-text pull-left visible-xs">
                <a href="#!/website" class="wd-text-gray">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a >
            </p>
            <a class="wd-text-gray navbar-brand wd-text-bold">
                New Website
            </a>
            <a ng-click="model.createWebsite()" class="navbar-link navbar-text pull-right wd-text-gray wd-icon-padding">
                <span class="glyphicon glyphicon-ok pull-right"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs wd-scrollable-left">
            <ul class="list-group">
                <!--<li class="list-group-item active">-->
                <!--<div class="row">-->
                <!--<div class="col-lg-5 col-md-8 col-sm-11 col-xs-6">-->
                <!--Website Name-->
                <!--</div>-->
                <!--<div class="col-lg-3 visible-lg">-->
                <!--Created-->
                <!--</div>-->
                <!--<div class="col-md-2 hidden-sm hidden-xs">-->
                <!--Updated-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->

                <li ng-repeat="website in model.websites"
                    class="list-group-item wd-list-item-borderless">
                    <a href="#!/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                    <a href="#!/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 ">
        <div ng-show="model.error"
             class="alert alert-danger"
             role="alert">{{model.error}}
        </div>

        <div ng-show="model.message"
             class="alert alert-info">
            {{model.message}}
        </div>


        <label for="website-name">Website Name</label>
        <input type="text"
               ng-model="model.name"
               class="form-control"
               id="website-name"
               placeholder="Name">

        <label for="website-description">Website Description</label>
        <textarea ng-model="model.description"
                  id="website-description"
                  class="form-control"
                  rows="5"
                  placeholder="Description">

        </textarea>
    </div>

</div>


<nav class="navbar navbar-fixed-bottom wd-blue-navbar">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right wd-text-gray wd-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
