<nav class="navbar navbar-fixed-top wd-blue-navbar">
    <div class="container-fluid">
        <a class="wd-text-gray navbar-brand wd-text-bold">
            Profile
        </a>
        <a ng-click="model.updateUser(model.user)"
           class="navbar-link navbar-text pull-right wd-text-gray wd-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">
    <div ng-show="model.message"
         class="alert alert-success"
         role="alert">{{model.message}}
    </div>

   <form class="wd-form-bottom-padding">
       <label for="username">Username</label>
       <input type="text"
              readonly
              ng-model="model.user.username"
              class="form-control"
              placeholder="Username"
              id="username">
       <label for="firstName">First Name</label>
       <input type="text"
              ng-model="model.user.firstName"
              class="form-control"
              placeholder="first name"
              id="firstName"
              required>
       <label for="LastName">Last Name</label>
       <input type="text"
              ng-model="model.user.lastName"
              class="form-control"
              placeholder="last name"
              id="LastName"
              required>
       <label for="email">Email</label>
       <input type="email"
              ng-model="model.user.email"
              class="form-control"
              placeholder="alice@emmail.com"
              id="email"
              required>
       <label for="phone">Phone</label>
       <input type="tel"
              ng-model="model.user.phone"
              class="form-control"
              id="phone"
              required>
   </form>

    <a href="#!/website" class="btn btn-primary btn-block">Websites</a>
    <a ng-click="model.logout()"
       class="btn btn-success btn-block">
        Logout
    </a>
    <a ng-click="model.unregister()" class="btn btn-danger btn-block">Unregister</a>
</div>

<nav class="navbar navbar-fixed-bottom wd-blue-navbar">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right wd-text-gray wd-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>