<div class="container">
    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">{{model.error}}
    </div>

    <h1>Register</h1>
    <input type="text"
           class="form-control"
           ng-model="username"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           ng-model="password"
           placeholder="password"/>
    <input type="password"
           class="form-control"
           ng-model="vpassword"
           placeholder="verify password"/>

    <a ng-click="model.register(username, password, vpassword)"
       class="btn btn-primary btn-block">
        Register
    </a>

    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>
