<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.createWidget()" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold">
            Create Widget
        </a>
    </div>
</nav>

<div class="col-xs-8">
    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input ng-model="model.widgetName" type="text" class="form-control" id="widget-heading-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input ng-model="model.widgetText" type="text" class="form-control" id="widget-heading-text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input ng-model="model.widgetSize" type="text" class="form-control" id="widget-heading-size" placeholder="Size">
        </div>
        <a ng-click="model.createWidget()" class="btn btn-danger  btn-block" id="widget-heading-create-btn">Create</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/user/{{model.uid}}" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
