<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="wd-text-black wd-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget()" class="wd-icon-padding wd-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand wd-text-white wd-text-bold">
            HTML Editor
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">{{model.error}}
    </div>

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widgetName"
           class="form-control"/>

    <div ng-model="model.widgetText"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block">
        Delete
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/user/{{model.userId}}" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
