<div ng-switch="model.widgetType">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/widget-heading-new.view.client.html'"/>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget-image-new.view.client.html'"/>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/widget-youtube-new.view.client.html'"/>
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/widget-html-new.view.client.html'"/>
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/widget-text-new.view.client.html'"/>
    </div>
</div>