<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.websiteId}}/page" class="wd-text-black wd-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               class="wd-icon-padding wd-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <a class="navbar-brand wd-text-white wd-text-bold">
            Widgets
        </a>
    </div>
</nav>


<div wd-sortable class="container-fluid">

    <div ng-repeat="widget in model.widgets" class="wd-widget">
        <div class="wd-toolbar">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>
        <!--user ng-switch-->
        <!--<div ng-switch="widget.widgetType">-->
            <!--<div ng-switch-when="HEADING">-->
                <!--<div ng-include="'views/widget/widget-heading.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="IMAGE">-->
                <!--<div ng-include="'views/widget/widget-image.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--<div ng-include="'views/widget/widget-youtube.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="HTML"-->
                 <!--ng-bind-html="model.trustThisContent(widget.text)">-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <!--<div class="wd-widget">-->
        <!--<div class="wd-toolbar">-->
            <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
        <!--</div>-->
        <!--<h1>GIZMODO</h1>-->
    <!--</div>-->

    <!--<div class="wd-widget">-->
        <!--<div class="wd-toolbar">-->
            <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
        <!--</div>-->
        <!--<h3>Zillow Sends Cease and Desist Letter To McMansion Hell, the Architectural Criticism Blog We Need Right Now</h3>-->
    <!--</div>-->

    <!--<div class="wd-widget">-->
        <!--<div class="wd-toolbar">-->
            <!--<a href="widget-image-edit.html">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--</a>-->
            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
        <!--</div>-->
        <!--<img width="100%" src="https://i.kinja-img.com/gawker-media/image/upload/s&#45;&#45;tSlJjrtM&#45;&#45;/c_scale,fl_progressive,q_80,w_800/acdlgmncfi8uwe3teofq.jpg"/>-->
    <!--</div>-->

    <!--<div class="wd-widget">-->
        <!--<div class="wd-toolbar">-->
            <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
        <!--</div>-->
        <!--<p>For years, it was one of the better fan theories out there, and now it’s confirmed to be true: Peter Parker was in<em> Iron Man 2</em>. </p>-->
        <!--<p>“It is Peter Parker,” <em>Spider-Man: Homecoming</em> star Tom Holland told <em>The</em>&nbsp;<em>Huffington Post</em>.</p>-->
    <!--</div>-->

    <!--<div>-->
        <!--<div class="embed-responsive embed-responsive-16by9">-->
            <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/6xRQ5qOtsHI" frameborder="0" allowfullscreen></iframe>"-->
            <!--allowfullscreen></iframe>-->
            <!--<div class="wd-toolbar">-->
                <!--<a href="widget-youtube.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/profile" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>